:root{

    /*base colors*/
    --darkmossgreen: #606c37;
    --cornsilk: #fefae1;
    --pakistangreen:#273518;
    --earthyellow: #dda25f;
    --tigerseye:#bc6c25;
    --murrey:#861657;
    --federalblue:#080357;
    --backgroundwhite:#ffffff;
}