:root{

    /*base colors*/
    --darkmossgreen: #606c37;
    --cornsilk: #fefae1;
    --pakistangreen:#273518;
    --earthyellow: #dda25f;
    --tigerseye:#bc6c25;
    --murrey:#861657;
    --federalblue:#080357;
    --backgroundwhite:#ffffff;
}

.handprint{
    color: var(--federalblue),blue;
    background-color: var(--cornsilk),white;
}

.footprint{
    color: var(--pakistangreen), green;
    background-color: var(--cornsilk),white;
}

.importance{
    color: var(--murrey),magenta;
    background-color: var(--cornsilk), white;
}